
.title{
	color: white;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 30px;
}

.main-body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
}

.main-body::after {
  content: "";
  background: url(../assets/pexels-photo.jpg);
  opacity: 0.9;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.intro{
	padding-top: 80px;
	opacity: .95;
}

.tryout {
  text-align: center;
}


.header {
	text-align: center;
}


.button {
	padding-top: 10px;
	text-align: center;
}

.privacy-policy {
	padding-top: 1em;
	font-size: .7em;
}
