body {
  font-family: 'Roboto', sans-serif;
}

.bodyWrap {
  max-width: 1000px;
  margin: auto;
}

.navbarWrap {
  max-width: 1000px;
  margin: auto;
}

.title{
	color: white;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 30px;
}

.main-body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
}

.main-body::after {
  content: "";
  background: url(../assets/pexels-photo.jpg);
  opacity: 0.9;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.intro{
	padding-top: 80px;
	opacity: .95;
}


.header {
	text-align: center;
}

.tryout {
  text-align: center;
}


.button {
	padding-top: 10px;
	text-align: center;
}


/* Navbar styling */
nav.navbar {
  height: 50px;
  min-height: 50px;
  padding-top: 1px;
}

nav {
  text-align: center;
  padding: 0;
}

nav h2 {
  margin: 0;
  padding-left: 8px;
  padding-top: 10px;
  font-size: 26px;
}

nav ul {
  list-style: none;
}

nav input {
  height: 45px;
  display: block;
  width: 100%;
  padding-left: 40px;
  font-size: 1em;
}

nav .glyphicon-cog {
  padding-top: 15px;
}

nav span.glyphicon.glyphicon-search {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 20px;
  color: lightgray;
}

.search-box {
  position: absolute;
  width: 100%;
  z-index: 5;
}

/* Search results styling */

.current-button-col {
	padding: 0 10px 0 0;
}

.queue-button-col {
	padding: 0;
}

.search-list-item {
  padding: 10px 0;
  height: 120px;
}

.search-list-item img {
  max-height: 100px;
	max-width: 65px;
}

.search-list-item button.btn.btn-primary {
  margin-right: 20px;
  margin-top: 20px;
	font-size: 10px;
}

.search-list-item h4,
.search-list-item p {
  text-align: left;
}

.search-list-item h4 {
  margin: 0;
  margin-bottom: 5px;
}

/* Book View */
@media (min-width: 768px) {
  .bookContainer {
    max-width: 730px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.bookContainer-narrow > hr {
  margin: 30px 0;
}

.bookImg {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 330px;
  width: 220px;
  margin: 0 40px;
}

/* Book Buttons */

.book-buttons {

}

.book-button {

}

.hide-button {
  display: none;
}

.currentColumn {
  padding: 1.2em 0;
}

.currentPhotoColumn img {
  width: 100%;
}

.bookPhoto:hover {
  opacity: 0.5;
}

.bookPhoto{
	background-size: 100% 100%;
}

.currentInfoColumnn {

}

.currentHeader {
  font-size:2em;
  padding-bottom: .5em;
}

.currentTitle {
  font-size: 1.3em;
}

.currentAuthor {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1.1em;
}

.currentBio {
  font-size: .9em;
}

.listName{
  text-align: center;
}
.authorImg {
    margin: 0 auto;
    display: block;
}
.authorContainer .readingColumn p {
    position: absolute;
    z-index: 1;
    bottom: .5em;
    width: 100%;
    text-align: center;
    height: 3em;
    background: rgba(255,255,255,.75);
    margin: 0;
    padding: .25em;
    color: #333;
}
.author-books-list.col-md-12 {
    overflow-x: scroll;
    overflow-y: hidden;
    height: 250px;
    white-space: nowrap;
    background: rgba(233,233,233,.3);
}
.author-books-list .readingColumn {
    padding: 0;
    margin: 0;
    display: inline-block;
    vertical-align: middle;
    float: none;
    margin-right: 1em;
}

.search-list-item button {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.button-container {
  padding-top: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.profileRow {
  padding: 0 2em 0 2em;
}

.profileColumn {

}

.profilePhotoColumn {
  padding-top: 2em;
}

.profilePhoto {
  border-radius: 50%;
  border:.2em solid #e8e8e8;
}

.userInfoColumnn {
  padding: 10em 0 8em .5em;
}

.userName {
  font-size: 1.6em;
  font-weight: 600;
}

.userLocation {
  font-size: 1.2em;
}

.userBooksRead {
}

.readingRow {
  height: 250px;
}

.readingHeader,
.friendsHeader {
  text-align: center;
  font-size: 2em;
  padding: 1.4em 0 .5em 0;
}

.readingColumn {
  padding: 0;
  margin: 0;
}

.readingColumn img {
  width: 100%;
  height: 250px;
}

.readingArrowColumn {
  color: #a0a0a0;
  font-size: 1.5em;
  height: inherit;
  /*width: 60px;*/
  padding-top: 120px;
}

.readingArrowColumnLeft {
  text-align: right;
  background: linear-gradient(90deg, #fff 50%, #e8e8e8 50%);
}

.readingArrowColumnRight {
  text-align: left;
  background: linear-gradient(90deg, #e8e8e8 50%, #fff 50%);
}

.friendsRow {
  height: 240px;
  padding: 0 2em 0 2em;
}

.friendsColumn {
  max-height: 240px;
}

/*.friendsColumn .friendsCurrent {
  position: relative;
  bottom: 100px;
  left: 0px;
  visibility: hidden;
}

.friendsColumn:hover .friendsCurrent {
  visibility:visible;
}*/

.friendsPhoto {
  width: 100%;
  max-height: inherit;
}

.friendsPhoto:hover {
  opacity: 0.2;
}

.friendsCurrent {
  text-align: center;
}

.friendsArrowColumn {
  padding-top:3em;
}

.friendsArrowCircle {
  color: #a0a0a0;
  padding-top:15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #e8e8e8;
}

.bookCountTitle {
  font-weight: 500;
}

.dropdown-menu {
  width: 480px;
}

.reviewFeed{
  width: 350px;
  height: 140px;
  display: block;
}

.reviewForm{
  width: 320px;
  height: 44px;
  font-size: 32px;
  border: solid 1px #fff;
  box-shadow: inset 1px 1px 2px 0 #707070;
  transition: box-shadow 0.3s;
  outline: none;
}
.reviewForm::placeholder{
  font-size: 24px;
}
.rateField{
  height: 35px;
  width: 320px;
}
.thumbBtn{
  height: 30px;
  width: 30px;
  margin: 5px 10px 5px 25px;
  float: left;
  display: inline block;
}
.rateText{
  font-size: 20px;
  width: 200px;
  float: left;
  display: inline;
  margin: 7px 10px;
}
.reviewBtn{
  width:320px;
  height: 40px;
}
.oneRev{
  width: 345px;
  height: 60px;
}
.revImage{
  display: inline block;
  height: 55px;
  border-radius: 50%;
  float: left;
}
.revText{
  display: inline block;
  float: left;
  margin: 5px 10px;
  bottom: 0px;
}

.revRatings{
  margin: 0px 10px;
  float: left;
  width: 270px;
}

.revRatings img{
  height: 25px;
  width: auto;
}

.menu-hold {
   position: relative;
   float: right;
}
.bookPhoto:hover {
 opacity: 0.5;
}
.dropdown.btn-group {
 position: initial;
}
