
.title{
	color: white;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 30px;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.main-body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
}

.main-body::after {
  content: "";
  background: url(../assets/pexels-photo.jpg);
  opacity: 0.9;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.intro{
	padding-top: 80px;
	opacity: .95;
}


.header {
	text-align: center;
}

.tryout {
  text-align: center;
}


.button {
	padding-top: 10px;
	text-align: center;
}


/* Navbar styling */
nav.navbar {
  height: 50px;
  min-height: 50px;
  padding-top: 1px;
}

nav {
  text-align: center;
  padding: 0;
}

nav h2 {
  margin: 0;
  padding-left: 8px;
  padding-top: 10px;
  font-size: 26px;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

nav ul {
  list-style: none;
}

nav input {
  height: 45px;
  display: block;
  width: 100%;
  padding-left: 40px;
  font-size: 1em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

nav .glyphicon-cog {
  padding-top: 15px;
}

nav span.glyphicon.glyphicon-search {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 20px;
  color: lightgray;
}

.search-box {
  position: absolute;
  width: 100%;
  z-index: 5;
}

/* Search results styling */

.search-list-item {
  padding: 10px 0;
  height: 120px;
}

.search-list-item img {
  max-height: 100px;
	max-width: 65px;
}

.search-list-item button.btn.btn-primary {
	margin-left: 1px;
  margin-right: 1px;
  margin-top: 16px;
	font-size: 10px;
	padding: 5px 2px;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.search-list-item h4,
.search-list-item p {
  text-align: left;
}

.search-list-item h4 {
  margin: 0;
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .bookContainer {
    max-width: 730px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.bookContainer-narrow > hr {
  margin: 30px 0;
}

.bookImg {
  padding-top: 20px;
  padding-bottom: 20px;
}

.currentColumn {
  padding: 1.2em 0;
}

.currentPhotoColumn img {
  width: 100%;
}

.bookPhoto:hover {
  opacity: 0.5;
}

.currentInfoColumnn {

}

.currentHeader {
  font-size:2em;
  padding-bottom: .5em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.currentTitle {
  font-size: 1.3em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.currentAuthor {
  font-size: 1.1em;
  font-weight: 300;
  margin-bottom: 1.1em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.currentBio {
  font-size: .9em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}



.search-list-item button {
  display: block;
  margin: 0 auto;
  width: 90%;
}

.button-container {
  padding-top: 5px;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.profileRow {
  padding: 0 2em 0 2em;
}

.profileColumn {

}

.profilePhotoColumn {
  padding-top: 2em;
}

.profilePhoto {
  border-radius: 50%;
  border:.2em solid #e8e8e8;
}

.userInfoColumnn {
  padding: 10em 0 8em .5em;
}

.userName {
  font-size: 1.6em;
  font-weight: 600;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.userLocation {
  font-size: 1.2em;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;  
}

.userBooksRead {
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.readingRow {
  height: 250px;
}

.readingHeader,
.friendsHeader {
  text-align: center;
  font-size: 2em;
  padding: 1.4em 0 .5em 0;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
}

.readingColumn {
  padding: 0;
  margin: 0;
}

.readingColumn img {
  width: 100%;
  height: 250px;
}

.readingArrowColumn {
  color: #a0a0a0;
  font-size: 1.5em;
  height: inherit;
  /*width: 60px;*/
  padding-top: 120px;
}

.readingArrowColumnLeft {
  text-align: right;
  background: linear-gradient(90deg, #fff 50%, #e8e8e8 50%);
}

.readingArrowColumnRight {
  text-align: left;
  background: linear-gradient(90deg, #e8e8e8 50%, #fff 50%);
}

.friendsRow {
  height: 240px;
  padding: 0 2em 0 2em;
}

.friendsColumn {
  max-height: 240px;
}

/*.friendsColumn .friendsCurrent {
  position: relative;
  bottom: 100px;
  left: 0px;
  visibility: hidden;
}

.friendsColumn:hover .friendsCurrent {
  visibility:visible;
}*/

.friendsPhoto {
  width: 100%;
  max-height: inherit;
}

.friendsPhoto:hover {
  opacity: 0.2;
}

.friendsCurrent {
  text-align: center;
}

.friendsArrowColumn {
  padding-top:3em;
}

.friendsArrowCircle {
  color: #a0a0a0;
  padding-top:15px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  background-color: #e8e8e8;
}

.bookCountTitle {
  font-weight: 500;
}

.book-list-item-summary {
	overflow: scroll;
	height: 45px;
}

.slick-initialized.slick-slider {
  padding-top: 30px;
}

.slick-next:before, .slick-prev:before {
  color: black;
}

button.slick-arrow.slick-prev {
  background-color: black;
}

button.slick-arrow.slick-next {
  background-color: black;
}

button.slick-arrow {
  height: 40px;
}
