
.title{
	color: white;
	font-size: 30px;
	padding-left: 50px;
	padding-top: 30px;
}

.main-body {
  width: 100vw;
  height: 100vh;
  display: block;
  position: absolute;
}

.main-body::after {
  content: "";
  background: url(../assets/pexels-photo.jpg);
  opacity: 0.9;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.intro{
	padding-top: 80px;
	opacity: .95;
}


.header {
	text-align: center;
}


.button {
	padding-top: 10px;
	text-align: center;
}

/* Navbar styling */
nav {
  text-align: center;
  padding: 0;
}

nav h2 {
  margin: 0;
  padding-top: 10px;
  font-size: 22px;
}

nav ul {
  list-style: none;
}

nav input {
  height: 48px;
  display: block;
  width: 100%;
  padding-left: 40px;
}

nav .glyphicon-cog {
  padding-top: 14px;
}

nav span.glyphicon.glyphicon-search {
  position: absolute;
  left: 10px;
  top: 12px;
  font-size: 20px;
  color: lightgray;
}

.search-box {
  position: absolute;
  width: 100%;
}

/* Search results styling */

.search-list-item {
  padding: 0;
}

.search-list-item img {
  display: block;
  width: 100%;
}

.search-list-item h4,
.search-list-item p {
  text-align: left;
}

.search-list-item h4 {
  margin: 0;
  padding: 5px 0;
  margin-bottom: 5px;
}

.search-list-item button {
  display: block;
  margin: 15px auto;
  width: 90%;
}

.button-container {
  transform: translateY(50%);
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}


.profileRow {
  padding: 0 2em 0 2em;
}

.profileColumn {

}

.profilePhotoColumn {
  padding-top: 2em;
}

.profilePhoto {
  border-radius: 50%;
  border:.2em solid #e8e8e8;
}

.userInfoColumnn {
  padding: 10em 0 8em .5em;
}

.userName {
  font-size: 1.6em;
  font-weight: 600;
}

.userLocation {
  font-size: 1.2em;
}

.userBooksRead {


}
