.profileRow {

}

.profileColumn {

}

.profilePhotoColumn {

}

.profilePhoto {
  border-radius: 50%;
}

.userInfoColumnn {

}

.userName {
  font-size: 1.6em;
}

.userLocation {
  font-size: 1.3em;
}

.userBooksRead {

}

.currentColumn {

}

.currentPhotoColumn {

}

.currentInfoColumnn {

}

.currentTitle {

}

.currentAuthor {

}

.currentBio {

}

.readingRow {
  margin-top: 3em;
  height: 240px;
}

.readingTitleColumn {
  text-align: center;
  font-size: 2em;
  padding-bottom: .5em;
}

.readingColumn {
  max-height: 240px;
}

.bookPhoto {
  width: 100%;
  max-height: inherit;
}

.bookPhoto:hover {
  opacity: 0.5;
}

.readingArrowColumn {
  height: inherit;
  padding-top: 110px;
  text-align: center;
  background-color: #d6d6d6;
}

.friendsRow {
  margin-top: 6em;
  height: 240px;
}

.friendsTitleColumn {
  text-align: center;
  font-size: 2em;
  padding-bottom: .5em;
}

.friendsColumn {
  max-height: 240px;
}

.friendsPhoto {
  width: 100%;
  max-height: inherit;
}

.friendsArrowColumn {
  padding-top:15px;
  border-radius: 50%;
  /*width: 50px;*/
  height: 50px;
  text-align: center;
  background-color: #d6d6d6;
}
